@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    height: 100%;
    color: #f4f4f4;
    overflow-x: hidden;
    @apply bg-blue-500;
    @apply relative;
}

::-webkit-scrollbar {
    width: 0.7vw;
}
::-webkit-scrollbar-track {
    background: #444444;
}
::-webkit-scrollbar-thumb {
    background: #666666;
}
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
