@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100%;
    min-height: 100vh;
    color: #f3f3f3;
    overflow-x: hidden;
    @apply relative;
    @apply bg-backgroundColor
}

.block-item {
    @apply select-none bg-violetPale border-2 border-violetBorderPale
}

.block-item-hover {
    @apply select-none bg-violetPale hover:bg-violetLighter border-2 border-violetBorderPale hover:border-violetBorderLighter transition-all duration-300 cursor-pointer
}

::-webkit-scrollbar {
    width: 0.7vw;
}
::-webkit-scrollbar-track {
    background: #444444;
}
::-webkit-scrollbar-thumb {
    background: #666666;
}
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
